* {
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
}

.universal-component {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

}


.print-hidden {
    @media print {
        display: none !important;
    }
}

@media print {
    @page {
        size: auto;
        margin: 0;
    }

    * {
        overflow: visible !important;
    }

    .universal-component {
        display: table;
        max-width: none !important;
        max-height: none !important;
        height: auto !important;
    }

    tr {
        page-break-inside: avoid; /* Prevent breaking rows across pages */
    }

}